body {
    background-color: rgb(43, 0, 235);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
}

footer {
    background-color: rgb(150, 74, 250);
    color: yellowgreen;
    text-align: center;
    margin: 50px;
}

section {
    border: 1px solid white;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
}
h2 {
    color:red;
}